@model FootballSim.Models.ViewModels.DraftClassViewModel

@{
    ViewBag.Title = "Draft Class of " + Model.Year;
}

<h2>@ViewBag.Title</h2>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Rating</th>
            <th>Height</th>
            <th>Weight</th>
            <th>College</th>
            <th>Hometown</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model.Players)
        {
            <tr>
                <td>
                    @Html.ActionLink(player.LastName + ", " + player.FirstName, "Index", "Player", new { player.Id }, null)
                </td>
                <td>@player.Position.Name</td>
                <td>@player.CurrentOverallRating</td>
                <td>@player.Measurables.HeightForDisplay</td>
                <td>@player.Measurables.Weight</td>
                <td>@player.College</td>
                <td>@player.Hometown.City, @player.Hometown.State</td>
            </tr>
        }
    </tbody>
</table>
